.gradle
build/

#Ignore libs
libs/

#db
db/*

#Settings
src/main/resources/client_secret.json

# Intellij 
.idea
JDrive.iml
JDrive.ipr
JDrive.iws

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
