.gradle
build/

#Settings
src/main/resources/client_secret.json

# Intellij 
.idea
JDrive.iml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
